<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,349},{186,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{186,141}}</string>
				<key>sourceSize</key>
				<string>{189,144}</string>
			</dict>

			<key>fx_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,319},{198,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,142}}</string>
				<key>sourceSize</key>
				<string>{198,142}</string>
			</dict>

			<key>fx_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,319},{197,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{197,174}}</string>
				<key>sourceSize</key>
				<string>{197,174}</string>
			</dict>

			<key>fx_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,638},{198,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,166}}</string>
				<key>sourceSize</key>
				<string>{198,166}</string>
			</dict>

			<key>fx_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,462},{198,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,175}}</string>
				<key>sourceSize</key>
				<string>{198,175}</string>
			</dict>

			<key>fx_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{202,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,190}}</string>
				<key>sourceSize</key>
				<string>{202,190}</string>
			</dict>

			<key>fx_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,816},{180,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,175}}</string>
				<key>sourceSize</key>
				<string>{180,175}</string>
			</dict>

			<key>fx_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,0},{190,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,177}}</string>
				<key>sourceSize</key>
				<string>{190,177}</string>
			</dict>

			<key>fx_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,494},{196,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,179}}</string>
				<key>sourceSize</key>
				<string>{196,179}</string>
			</dict>

			<key>fx_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,805},{198,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,179}}</string>
				<key>sourceSize</key>
				<string>{198,179}</string>
			</dict>

			<key>fx_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,169},{187,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,179}}</string>
				<key>sourceSize</key>
				<string>{187,179}</string>
			</dict>

			<key>fx_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,217},{90,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,81}}</string>
				<key>sourceSize</key>
				<string>{90,81}</string>
			</dict>

			<key>fx_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,674},{189,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,141}}</string>
				<key>sourceSize</key>
				<string>{189,141}</string>
			</dict>

			<key>fx_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,115},{111,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,101}}</string>
				<key>sourceSize</key>
				<string>{111,101}</string>
			</dict>

			<key>fx_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,0},{144,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,114}}</string>
				<key>sourceSize</key>
				<string>{144,114}</string>
			</dict>

			<key>fx_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,349},{160,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,116}}</string>
				<key>sourceSize</key>
				<string>{160,116}</string>
			</dict>

			<key>fx_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,663},{166,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,120}}</string>
				<key>sourceSize</key>
				<string>{166,120}</string>
			</dict>

			<key>fx_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,466},{144,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,121}}</string>
				<key>sourceSize</key>
				<string>{144,121}</string>
			</dict>

			<key>fx_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,674},{193,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,141}}</string>
				<key>sourceSize</key>
				<string>{193,141}</string>
			</dict>

			<key>fx_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,816},{190,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,143}}</string>
				<key>sourceSize</key>
				<string>{190,143}</string>
			</dict>

			<key>fx_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,816},{190,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,141}}</string>
				<key>sourceSize</key>
				<string>{190,141}</string>
			</dict>

			<key>fx_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,191},{201,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,127}}</string>
				<key>sourceSize</key>
				<string>{201,127}</string>
			</dict>

			<key>fx_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,178},{186,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,136}}</string>
				<key>sourceSize</key>
				<string>{186,136}</string>
			</dict>

			<key>fx_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,494},{187,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,168}}</string>
				<key>sourceSize</key>
				<string>{187,168}</string>
			</dict>

			<key>fx_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,0},{189,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,168}}</string>
				<key>sourceSize</key>
				<string>{189,168}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>bomb_sprites.png</string>
			</dict>
		</dict>
</plist>