<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>spark_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,384},{51,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,56}}</string>
				<key>sourceSize</key>
				<string>{51,56}</string>
			</dict>

			<key>spark_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,933},{74,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,80}}</string>
				<key>sourceSize</key>
				<string>{74,80}</string>
			</dict>

			<key>spark_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,848},{156,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,172}}</string>
				<key>sourceSize</key>
				<string>{156,172}</string>
			</dict>

			<key>spark_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,347},{158,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,173}}</string>
				<key>sourceSize</key>
				<string>{158,173}</string>
			</dict>

			<key>spark_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,177},{160,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,169}}</string>
				<key>sourceSize</key>
				<string>{160,169}</string>
			</dict>

			<key>spark_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,680},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>

			<key>spark_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{163,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,176}}</string>
				<key>sourceSize</key>
				<string>{163,176}</string>
			</dict>

			<key>spark_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,521},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,158}}</string>
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>

			<key>spark_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,128},{138,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,154}}</string>
				<key>sourceSize</key>
				<string>{138,154}</string>
			</dict>

			<key>spark_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{140,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,127}}</string>
				<key>sourceSize</key>
				<string>{140,127}</string>
			</dict>

			<key>spark_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,177},{142,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,126}}</string>
				<key>sourceSize</key>
				<string>{142,126}</string>
			</dict>

			<key>spark_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,665},{128,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,132}}</string>
				<key>sourceSize</key>
				<string>{128,132}</string>
			</dict>

			<key>spark_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,283},{92,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,100}}</string>
				<key>sourceSize</key>
				<string>{92,100}</string>
			</dict>

			<key>spark_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,0},{110,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,118}}</string>
				<key>sourceSize</key>
				<string>{110,118}</string>
			</dict>

			<key>spark_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,798},{125,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,134}}</string>
				<key>sourceSize</key>
				<string>{125,134}</string>
			</dict>

			<key>spark_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,516},{136,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,148}}</string>
				<key>sourceSize</key>
				<string>{136,148}</string>
			</dict>

			<key>spark_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,516},{146,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,159}}</string>
				<key>sourceSize</key>
				<string>{146,159}</string>
			</dict>

			<key>spark_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,347},{153,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,168}}</string>
				<key>sourceSize</key>
				<string>{153,168}</string>
			</dict>

			<key>spark_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,680},{157,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,167}}</string>
				<key>sourceSize</key>
				<string>{157,167}</string>
			</dict>

			<key>spark_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,848},{154,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,173}}</string>
				<key>sourceSize</key>
				<string>{154,173}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>spark_sprites.png</string>
			</dict>
		</dict>
</plist>