<!doctype html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>FISH JOY</title>
    <style type="text/css">
        
    </style>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/jq.css" type="text/css" media="print, projection, screen" />
    <link rel="stylesheet" href="/css/themes/blue/style.css" type="text/css" id="" media="print, projection, screen" />
    <link rel="stylesheet" href="/addons/pager/jquery.tablesorter.pager.css" type="text/css" id="" media="print, projection, screen" />

    <script src="/js/socket.io-1.2.0.js"></script>
    <script src="/js/jquery-1.11.1.js"></script>     
    <script src="/js/jquery.tablesorter.js"></script>
    <script src="/addons/pager/jquery.tablesorter.pager.js"></script>
    <script src="/js/jquery.popupoverlay.js"></script>
    <script src="/js/popups.js"></script>
    <script src="/js/interactive.js"></script>
</head>
  <body>
      <!-- Add content to the popup -->
      <div id="popup" class="popup"></div>
      <div id="header">
          <ul>
              <li><a href="" id="nav_menu">Menu</a></li>
              <li><a href="" id="nav_sign">Log Out</a></li>
          </ul>
      </div>
      
      
      <div id="content">
          <div id="left_content">
              <div id="title"><h1>FISH JOY</h1></div>
              <div id='add_room'>
                <button type="button" id="button_add_room" class="buttons">CREATE ROOM</button>
             </div>
              
             <div id="roomlist"></div>
             <div id="pager" class="pager">
                <form>
                    <img src="/addons/pager/icons/first.png" class="first"/>
                    <img src="/addons/pager/icons/prev.png" class="prev"/>
                    <input type="text" class="pagedisplay"/>
                    <img src="/addons/pager/icons/next.png" class="next"/>
                    <img src="/addons/pager/icons/last.png" class="last"/>
                    <!-- <select class="pagesize">
                        <option selected="selected"  value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option  value="40">40</option>
                    </select> -->
                </form>
            </div>
        </div>
        <div id="right_content">
          <div id="add_1" class="ad">Advertisement 1</div>
          <div id="add_2" class="ad">Advertisement 2</div>
          <div id="add_3" class="ad">Advertisement 3</div>
        </div>
    </div>

      
  </body>
</html>